CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Homework-1/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
Homework-1/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
